torch==2.2.0
transformers==4.44.2
huggingface_hub==0.24.6
streamlit>=1.30.0
spacy==3.7.4
seqeval==1.2.2
scikit-learn==1.4.2
sentencepiece
numpy<2.0
pandas
textstat==0.7.13
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl